</div>
<div class="container">
<hr>
<!-- LATER: legal -->
<p class="small text-muted text-center">
    <a href="https://www.github.com/redirect2me" title="Fork resolve.rs on Github"><img alt="Github" src="https://www.vectorlogo.zone/logos/github/github-tile.svg" class="social-footer"></a>
    <a href="https://www.twitter.com/redirect2me" title="Follow Redirect2me on Twitter"><img alt="Twitter" src="https://www.vectorlogo.zone/logos/twitter/twitter-tile.svg" class="social-footer"></a>
    <!-- <a href="https://www.redirect2.me/" title="Redirect2.me"><img alt="Twitter" src="https://www.vectorlogo.zone/logos/redirect2me/redirect2me-icon.svg" class="social-footer"></a> -->
    &bull; <a href="/contact.html">Contact</a>
    &bull; <a href="https://validator.w3.org/check/referer">Validate HTML</a>
</p>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-328425-24"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-328425-24');
</script>
</body>
</html>

