{{> above}}

<div class="alert alert-info">
    If you are having problems with the HTTPS check, you may be able to get more information from the
    <a class="alert-link" href="/ip/tls-cert-check.html">TLS Certificate Check</a>.
</div>

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
        <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
            <form action="cert-check.html" class="mb-6" method="POST">
                <div class="form-group">
                    <label for="hostname">
                        Hostname
                    </label>
                    <input type="text" class="form-control" id="hostname" name="hostname" placeholder="" value="{{hostname}}" />
                </div>
                <button class="btn btn-block btn-primary" type="submit">
                    Check
                </button>

            </form>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->

<div class="row mt-4">
    <div class="col">
        <button class="btn btn-sm btn-outline-primary" onclick="setExample('hostname', 'https://expired.badssl.com/');">Expired</button>
        <button class="btn btn-sm btn-outline-primary" onclick="setExample('hostname', 'https://wrong.host.badssl.com/');">Wrong Host</button>
        <button class="btn btn-sm btn-outline-primary" onclick="setExample('hostname', 'https://resolve.rs/');">Valid</button>
    </div>
</div>
{{> below}}
