{{> above}}
<p>Many of the HTML pages have a callable version: switch the extension to <code>json</code> or <code>txt</code>.</p>

<p>The <code>json</code> version requires either:</p>
<ul>
    <li>A <code>callback</code> parameter (i.e. it is really "jsonp").  This is the way to use it from a browser.</li>
    <li>An <code>api-key</code> header.  This is the way to use it from another server.  For now, the value should just
    be your email address, which I will use to contact you if anything changes or there are other issues.</li>
</ul>

<p></p>
{{> below}}