{{> above}}

<div class="d-flex flex-wrap">

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Your DNS Resolver</h5>
      <p class="card-text" id="currentdns">
        <img alt="spinner" src="/images/spinner.svg" style="height:24pt;" title="Loading current DNS server info" />
      </p>
    </div>
    <div class="card-footer">
      <a href="{{this.key}}/index.html">More...</a>
    </div>
  </div>

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Your IP Address</h5>
      <p class="card-text">{{current_ip}}<br/>Reverse DNS: {{reverse_ip}}</p>
    </div>

  </div>

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Open DNS Resolvers</h5>
      <p class="card-text">You do not have to use your ISP's DNS resolver.  Here are some alternatives
          that may better suit your needs.
      </p>
    </div>
    <div class="card-footer">
      <a href="/resolvers/index.html">More...</a>
    </div>
  </div>

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">DNS Lookups</h5>
      <p class="card-text">Lookup a hostname across all the open resolvers</p>
    </div>
    <div class="card-footer">
      <a href="/dns-lookup.html">More...</a>
    </div>
  </div>

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Reverse DNS Lookup</h5>
      <p class="card-text">Given an address, find the corresponding hostname</p>
    </div>
    <div class="card-footer">
      <a href="/reverse-dns-lookup.html">More...</a>
    </div>
  </div>

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Advanced DNS Lookup</h5>
      <p class="card-text">Detailed results from a given DNS resolvers with a
          specific lookup protocol.
      </p>
    </div>
    <div class="card-footer">
      <a href="{{this.key}}/index.html">More...</a>
    </div>
  </div>

</div>

<script>
$(function() {
  $.ajax({
    dataType: "jsonp",
    error: function (xhr, status, err) {
      var content = $("#currentdns").empty();
      content.append($("<div>").addClass("alert").addClass("alert-info").text(err));
      console.error("ERROR: " + status + " (" + err + ")");
    },
    method: "POST",
    success: function (data, status, xhr) {
      console.log("data=" + JSON.stringify(data));
      var content = $("#currentdns").empty();
      if (!data.success) {
        content.append($("<div>").addClass("alert").addClass("alert-info").text(data.message));
      }
      else {
        content.append(data.output);
      }
    },
    timeout: 15000,
    url: `https://${Math.floor(Math.random() * 1000000000).toString()}.which.resolve.rs/api.json`
  });
});

</script>
{{> below}}
