{{> above}}

<div class="alert alert-info">
  <a class="alert-link" href="https://en.wikipedia.org/wiki/Domain_Name_System">DNS</a>
  (Domain Name System) is a key part of the internet: it maps human-readable <a class="alert-link" href="https://en.wikipedia.org/wiki/Domain_name">domain names</a> (like <code>wikipedia.org</code>)
  to the corresponding numeric <a class="alert-link" href="https://en.wikipedia.org/wiki/IP_address">IP address</a> (like <code>208.80.154.224</code>).  The
  servers that do this mapping are called <a class="alert-link" href="https://en.wikipedia.org/wiki/Domain_Name_System#DNS_resolvers">resolvers</a>.
</div>

<div class="d-flex flex-wrap">

  <div class="card col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Open DNS Resolvers</h5>
      <p class="card-text">You do not have to use your ISP's DNS resolver.  Here are some alternatives
          that may better suit your needs.
      </p>
    </div>
    <div class="card-footer">
      <a href="/resolvers/index.html">List of alternative resolvers</a>
    </div>
  </div>

  <div class="card col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Your DNS Resolver</h5>
      <p class="card-text" id="currentdns">
        <img alt="spinner" src="/images/spinner.svg" style="height:24pt;" title="Loading current DNS server info" />
      </p>
    </div>
    <div class="card-footer">
      <a href="https://github.com/redirect2me/which-dns/blob/master/README.md">How this works</a>
    </div>
  </div>

  <div class="card col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Your IP Address</h5>
      <p class="card-text">{{current_ip}}
          <br/>Reverse DNS: <span id="currentip-reverse"></span>
          <br/>ASN: {{current_asn}}
      </p>
    </div>
  </div>

  <div class="card col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">IP Geolocation</h5>
      <p class="card-text">
          Your IP address can be used to guess your approximate location.<br/>
          Your location: {{{current_location}}}
      </p>
    </div>
    <div class="card-footer">
      <a href="/iplocation.html">More...</a>
    </div>
  </div>

  <div class="card col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">DNS Lookups</h5>
      <p class="card-text">Lookup a hostname across all the open resolvers</p>
    </div>
    <div class="card-footer">
      <a href="/dns-lookup.html">More...</a>
    </div>
  </div>

  <div class="card col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Reverse DNS Lookup</h5>
      <p class="card-text">Given an IP address, find the corresponding hostname</p>
    </div>
    <div class="card-footer">
      <a href="/reverse-dns-lookup.html">More...</a>
    </div>
  </div>

  <div class="card col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Tools</h5>
      <p class="card-text">Random tools I made that needed a good home.
      </p>
    </div>
    <div class="card-footer">
      <a href="/tools.html">Details...</a>
    </div>
  </div>

  <div class="card col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">API</h5>
      <p class="card-text">Most of the pages have a corresponding version that you can call.
      </p>
    </div>
    <div class="card-footer">
      <a href="/api.html">Details...</a>
    </div>
  </div>

<!--
  <div class="card col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Advanced DNS Lookup</h5>
      <p class="card-text">Detailed results from a given DNS resolvers with a
          specific lookup protocol.
      </p>
    </div>
    <div class="card-footer">
      <a href="/index.html">Coming soon</a>
    </div>
  </div>
-->

</div>

<script>

function ipInfo(reverseDnsSelector, asnSelector, ipaddress) {
  $(reverseDnsSelector).empty().append($("<img>")
    .attr("alt", "spinner")
    .attr("src", "/images/spinner.svg")
    .attr("style", "height:24pt;")
  );
  $.ajax({
    data: { ipaddress },
    dataType: "jsonp",
    error: function (xhr, status, err) {
      $(reverseDnsSelector).empty().text("server error");
    },
    method: "POST",
    success: function (data, status, xhr) {
      console.log("data=" + JSON.stringify(data));
      if (!data.success) {
        $(reverseDnsSelector).empty().text("not found");
      }
      else {
        $(reverseDnsSelector).empty().text(data.results.join(','));
      }
      if (data.asn && asnSelector) {
        $(asnSelector).empty().text(data.asn);
      }
    },
    timeout: 15000,
    url: `/reverse-dns-lookup.json`
  });
}

// so the initial page load doesn't wait for the reverse DNS lookup, which can take too long
$(function reverseMyAddress() {
    ipInfo("#currentip-reverse", null, "{{current_ip}}");
})

$(function whichDns() {
  $.ajax({
    dataType: "jsonp",
    error: function (xhr, status, err) {
      var content = $("#currentdns").empty();
      content.append($("<div>").addClass("alert").addClass("alert-info").text(err));
      console.error("ERROR: " + status + " (" + err + ")");
    },
    method: "POST",
    success: function (data, status, xhr) {
      console.log("data=" + JSON.stringify(data));
      var content = $("#currentdns").empty();
      if (!data.success) {
        content.append($("<div>").addClass("alert").addClass("alert-info").text(data.message));
      }
      else {
        content.append("IP address: ");
        content.append(data.output);
        content.append("<br/>");
        content.append("Reverse DNS: ");
        content.append($("<span>").attr("id", "currentdns-reverse"));
        content.append("<br/>");
        content.append("ASN: ");
        content.append($("<span>").attr("id", "currentdns-asn"));
        ipInfo("#currentdns-reverse", "#currentdns-asn", data.output);
      }
    },
    timeout: 15000,
    url: `https://${Math.floor(Math.random() * 1000000000).toString()}.which.resolve.rs/api.json`
  });
});

</script>
{{> below}}
