{{>above}}

<h2 id="domains">Domains</h2>
<ul>
    <li><a href="/domains/tlds.html">Top-level domains from ICANN</a></li>
    <li><a href="/domains/psl-tlds.html">Top-level domains from PublicSuffixList</a></li>
    <li><a href="/domains/icann-vs-psl.html">ICANN vs PublicSuffixList Top-level domains</a></li>
    <li><a href="/domains/usable-tlds.html">Usable top-level domains</a></li>
    <li><a href="/domains/nice-tlds.html">Nice top-level domains</a></li>
    <li><a href="/domains/publicsuffix.html">Calculate the public suffix for a hostname</a></li>
    <li><a href="/domains/punycode.html">Convert to/from punycode</a></li>
    <li><a class="font-weight-bold" href="/domains/finder.html">Domain Name Finder</a></li>
</ul>

<h2 id="dns">DNS</h2>
<ul>
    <li><a href="/dns/lookup.html">DNS Lookup</a></li>
    <li><a href="/dns/mxcheck.html">MX Check</a></li>
    <li><a class="font-weight-bold" href="/resolvers/index.html">Open Resolvers</a></li>
    <li><a href="/dns/reverse-lookup.html">Reverse DNS Lookup</a></li>
    <li><a href="/#whichdns">Which DNS server am I using?</a></li>
</ul>

<h2 id="http">HTTP</h2>
<ul>
    <li><a href="/http/cert-check.html">SSL/TLS Certificate Check</a></li>
    <li><a href="/http/headers.html">Headers</a></li>
    <li><a href="/http/content-type.html">Content-Type header values</a></li>
    <li><a href="/http/redirect-check.html">Redirection check</a></li>
    <li><a href="/http/urlencode.html">URL encode/decode</a></li>
    <li><a href="/http/urlparse.html">URL parser</a></li>
    <li><a href="/http/useragent.html">User Agent</a></li>
</ul>

<h2 id="ip">TCP/IP</h2>
<ul>
    <li><a href="/ip/geolocation.html">IP Geolocation</a></li>
    <li><a href="/ip/tcp-ports.html">TCP Ports</a></li>
    <li><a href="/ip/whatsmyip.html">What's my IP?  {{current_ip}}</a></li>
</ul>

<h2 id="info">Random Info</h2>
<ul>
    <li><a href="/info/glossary.html">Glossary</a></li>
    <li><a href="/info/steps.html">Steps involved it getting a web page</a></li>
</ul>
{{>below}}
