{{> above}}
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
        <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
            <form action="/dns/reverse-lookup.html" class="mb-6" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="ip">
                        IP Address
                    </label>
                    <input type="text" class="form-control" id="ip" name="ip" placeholder="" value="{{ip}}" />
                </div>
                <div class="d-grid mb-3">
                    <button class="btn btn-primary" type="submit">
                        Check
                    </button>
                </div>
            </form>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
{{> below}}
