{{> above}}

<div class="alert alert-info">
    This is just my personal list that I consider when looking for a new domain.
</div>

<p>Count: {{domains.length}}</p>

<ul>
{{#each domains}}
<li><a href="/tlds/{{this}}/index.html">{{this}}</a></li>
{{/each}}
</ul>

{{> below}}