{{>above}}

<div class="alert alert-info">
    ASN stands for Autonomous System Number, which is (essentially) the ISP or Telephone company that controls your IP address.
    Due to company mergers/buyouts/etc, the company name in the database is often a predecesoor of the current company.
    <a class="alert-link" href="https://en.wikipedia.org/wiki/Autonomous_system_(Internet)">Wikipedia</a>.
</div>

<!-- LATER: ASN lookup -->

{{>below}}