{{>above}}

<div class="alert alert-warning">
    I have plans to do my own speed test utility page, but in the meantime, here are some
    useful 3rd party test pages.
</div>

<ul>
    <li><a href="https://speed.cloudflare.com/">Cloudflare</a></li>
	<li><a href="https://fast.com/">Fast.com</a></li>
	<li><a href="https://www.speedtest.net/">Ookla</a></li>
	<li><a href="https://www.speakeasy.net/speedtest/">Speakeasy</a></li>
</ul>
