{{>above}}

<div class="alert alert-info">
    The TCP/IP protocol assigns <i>ports</i> to standard software so it
    can send data to the correct software when it is all running on a single machine.
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Port</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
{{#each ports}}
        <tr>
            <td class="text-center">{{this.port}}</td>
            <td>{{this.description}}</td>
        </tr>
{{/each}}
    </tbody>
</table>

<p>
	These are just the ones that I've needed to use in the past.  The official list is maintained by <a href="https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.txt">IANA</a>.
</p>

{{>below}}
