{{> above}}

<div class="alert alert-info">
    While commonly referred to as &ldquo;SSL&rdquo;, the correct name for the protocol is &ldquo;TLS&rdquo;.
</div>

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
        <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
            <form action="tls-cert-check.html" class="mb-6" method="POST">
                <div class="form-group">
                    <label for="hostname">
                        Hostname
                    </label>
                    <input type="text" class="form-control" id="hostname" name="hostname" placeholder="" value="{{hostname}}" />
                </div>
                <button class="btn btn-block btn-primary" type="submit">
                    Check
                </button>

            </form>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->

<div class="row mt-5">
    <div class="col">
        <ul>
            <li><a href="https://badssl.com/">BadSSL.com</a> - set of websites with various certificate errors, perfect for testing.</li>
        </ul>
    </div>
</div>
{{> below}}
