{{>above}}

<script src="/js/clipboard.min.js"></script>
<script>$(function() {
        var clipboard = new ClipboardJS('.clipboard');

        clipboard.on('success', function(e) {
            e.clearSelection();
            setTimeout( () => { $(e.trigger).tooltip('hide'); }, 1000);
            });

        $('[data-toggle="tooltip"]').tooltip({ placement: 'auto', title: 'Copied to clipboard!', trigger: 'click' });
    });
</script>

<p>
    Your IP address: <code class="mb-2 border p-2 rounded bg-light" id="current_ip">{{current_ip}}</code>
    <button
        class="btn btn-sm btn-outline-secondary clipboard mb-2"
        data-toggle="tooltip"
        data-clipboard-target="#current_ip"
        title="copy to clipboard">
        <img style="height: 16px;" src="/images/clippy.svg" alt="Copy to clipboard">
    </button>
</p>
<p>
    Your ASN: {{asn}}
    <!-- LATER: more link to asn info page -->
</p>
<p>
    Your location:
    {{{location}}}
    <a class="btn btn-sm btn-outline-primary mb-3" href="geolocation.html">More</a>
</p>

<p>This is also available as <a href="whatsmyip.json">JSON</a> and <a href="whatsmyip.txt">plain text</a>.</p>

{{>below}}
