name: Check for data updates

on:
  schedule:
  - cron: '42 0 * * 1'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Update MaxMind
      run: data/maxmind/update_maxmind.sh
      env:
        MMDB_ENCRYPTION_KEY: ${{ secrets.MMDB_ENCRYPTION_KEY }}
        MAXMIND_LICENSE_KEY: ${{ secrets.MAXMIND_LICENSE_KEY }}

    - name: Update ICANN
      run: data/icann/update_icann.sh

    - name: Update PublicSuffixList
      run: data/publicsuffix/update_publicsuffix.sh

    - name: Install SSH Client
      uses: webfactory/ssh-agent@v0.4.1
      with:
        ssh-private-key: ${{ secrets.DEPLOY_KEY }}

    - name: Prepare git and github
      run: |
        git config --global user.email "github-action@github.com"
        git config --global user.name "Github Action"
        git remote add deploy git@github.com:redirect2me/resolvers.git
        git checkout main

    - name: Commit changes
      run: data/data-commit.sh
